<div class="container-fluid bg">
        <div class="row">
            <div class="col-md-1 col-0"></div>
            <div class="col-md-3 col-12 mtop1">
                <h1 class="text-center brand">WhatNow</h1>
                <br>
                <p class="text-center desc">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, similique corporis dolore vitae tempore aliquid eum perspiciatis enim laborum quia.
                    <br>Username: test<br>Password: test
                </p>
            </div>
            <div class="col-md-3 col-10 mtop1 ml-auto mr-5">
                    <form>
                            <div class="form-group">
                              <label class="text-light" for="username">Username</label>
                              <input class="form-control" ng-model="uname" id="username" placeholder="Enter username">
                              
                            </div>
                            <div class="form-group">
                              <label class="text-light" for="password">Password</label>
                              <input type="password" class="form-control" ng-model="pw" id="password" placeholder="Password">
                            </div>
                            <button type="submit" ng-click="submit()" class="btn submit">Submit</button>
                          </form>
            </div>
        </div>
    </div>